.body{

   background-image: url('123456.png');
   background-size: contain;
   background-repeat: no-repeat;
   width: 80%;
   height: 80%;
   
} 
 .card {
   background-color: #fff; 
   border: 1px solid #ddd; 
   border-radius: 10px;
   padding: 20px; 
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   max-width: 700px; 
   margin: 80px auto 80px auto; 
   height: 500px;
   
 } 
 .text{

   margin-left: 80%;
  

    display: flex;
   flex-direction: column;
   align-items: center; 

}
.logo img{

  height: 40px;
  width: auto;
  margin-top: 20px;
  
}

.form-box{

   margin-top: 1rem;
}

.form h2{

   margin-top: 40px;
 display: flex;
   align-items: center;
   justify-content: center;
   font-size: 1.5rem; 
   
}
.form h3{

  margin: 1rem;
 display: flex;
  align-items: end;
  justify-content: end;
  color:rgb(60, 60, 251);
  margin-right: 45px;
  font-size: 1rem;
  
   
}
.form-box{
   margin-top: 20px;

   
}
#email{

   width: 400px;
   height: 35px;
   border-radius: 5px;
   margin-right: 40px;
}

#password{
   width: 400px;
   height: 35px;
   border-radius: 5px;
   

}

.button{

   width: 400px;
   height: auto;
   margin-top: 45px;
   background-color: rgb(60, 60, 251);
   padding: 1rem;
   color: white;
   border-radius: .4rem;
   margin-right: 40px; 
}
.form h6{
   margin-top: 45px;
 display: flex;
align-items: center;
justify-content: center; 
   margin-top: 25px;
   font-size: 1rem;
   margin-right: 40px;
}
.bold{
   color: rgb(60, 60, 251);;
}   